<div class="kop">
<h1>Fear-Setting</h1>
<p>inspired by Tim Ferris' TED Talk</p>
</div>
Challenge: 
<div class="challenge">
    <%= @challenge.description %>
</div>

<% if @benefits %>
Benefits:
    <% @benefits.each do |b| %>
        <div class="textbox">
            <%= b.description %>
        </div>
    <% end %>
<% end %>
<br />

<%= form_for(Benefit.new, as: :benefit, url: challenge_benefits_path) do |f| %>
    New Benefit: <br />
    <%= f.text_field :description, required: true, autofocus: true, class: "input_textbox" %>
    <div class="form-actions">
        <%= f.submit "add benefit", class: 'knop-1' %>
    </div>
<% end %>

<% if @fears %>
Fears:
    <% @fears.each do |f| %>
        <div class="textbox">
            <%= f.description %>
            <button class="knop-1"><%= link_to "Prevention", new_fear_prevention_path(f) %></button>
        </div>
       
    <% end %>
<% end %>
<br />

<%= form_for(Fear.new, as: :fear, url: challenge_fears_path) do |f| %>
    New Fear: <br />
    <%= f.text_field :description, required: true, class: "input_textbox" %>
    <div class="form-actions">
        <%= f.submit "add fear", class: 'knop-1' %>
    </div>
<% end %>
