<div class="kop">
<h1>Fear-Setting</h1>
<h4>inspired by Tim Ferris' TED Talk</h4>
</div>

Fear = 
<div class="challenge">
    <%= @fear.description %>
</div>
<% if @fixes %>
fixes:
    <% @fixes.each do |f| %>
        <div class="textbox">
            <%= f.description %>
        </div>
    <% end %>
<% end %>
<br />

<%= form_for(Fix.new, as: :fix, url: fear_fixes_path) do |f| %>
    <%= f.text_field :description, required: true, autofocus: true, class: "input_textbox" %>
    <div class="form-actions">
        <%= f.submit "add fix", class: 'knop-1' %>
    </div>
<% end %>

Preventions:
<% @preventions.each do |p| %>
    <div class="textbox">
        <%= p.description %>
    </div>
<% end %>
<br />
<button class="knop-1"><%= link_to "Add Prevention", new_fear_prevention_path(@fear) %></button>
<button class="knop-1"><%= link_to "Show Challenge", challenges_path %></button>
