<div class="kop">
<h1>Fear-Setting</h1>
<h4>inspired by Tim Ferris' TED Talk</h4>
</div>

<% @challenges.each do |c| %>
Challenge:
    <div class="challenge">
      <%= c.description %>
    </div>
    <% @benefits = Benefit.where(challenge_id: c.id) %>
    Benefits:
    <% @benefits.each do |b| %>
        <div class="textbox">
            <%= b.description %>
        </div>
    <% end %>
    <% @fears = Fear.where(challenge_id: c.id) %>
    Fears:
    <% @fears.each do |f| %>
        <div class="textbox">
            <%= f.description %>
        </div>
    <% end %>
  Consequences:
  <div class="textbox">
    6 months from now: <%= c.cost_inaction_hy %>
  </div>
  <div class="textbox">
    1 year from now: <%= c.cost_inaction_yr %>
  </div>
  <div class="textbox">
    3 years from now: <%= c.cost_inaction_3y %>
  </div>
  <button class="knop-1"><%= link_to "Edit Consequences", edit_challenge_path(c) %></button>
<% end %>
